.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #040e27;
  position: relative;
  z-index: 0;
  .footer_top {
    padding-top: 115px;
    padding-bottom: 129px;
    @media #{$mobile_device} {
      padding-top: 60px;
      padding-bottom: 30px;
    }
    .footer_widget {
      @media #{$mobile_device} {
        margin-bottom: 30px;
      }
      @media #{$tablet_device} {
        margin-bottom: 30px;
      }
      .footer_logo {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 40px;
        @media #{$mobile_device} {
          margin-bottom: 20px;
        }

        img {
          width: 180px;
        }
      }
      p {
        color: #aab1b7;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: #aab1b7;
        a {
          color: #aab1b7;
          &:hover {
            color: #1ec6b6;
          }
        }
      }
      ul {
        li {
          color: #acacac;
          font-size: 14px;
          line-height: 36px;
          a {
            color: #aab1b7;
            font-weight: 400;
            &:hover {
              color: #1ec6b6;
            }
          }
        }
      }
    }
  }
  .copy-right_text {
    padding-bottom: 26px;
    .footer_border {
      border-top: 1px solid #363e52;
      padding-bottom: 26px;
    }
    .copy_right {
      font-size: 14px;
      color: #7a838b;
      margin-bottom: 0;
      font-weight: 400;
      @media #{$mobile_device} {
        font-size: 14px;
      }
      a {
        color: #1ec6b6;
      }
    }
  }
  .social_links {
    margin-top: 47px;
    @media #{$mobile_device} {
      margin-top: 30px;
    }
    ul {
      li {
        display: inline-block;

        a {
          font-size: 15px;
          color: #c3b2f0;
          width: 30px;
          // height: 40px;
          display: inline-block;
          text-align: center;
          background: transparent;
          // @include border-radius(50%);
          // line-height: 40px !important;
          margin-right: 7px;
          color: #ffffff;
          line-height: 40px !important;
          // border: 1px solid #E8E8E8;
          color: #e8e8e8;
          &:hover {
            color: #1ec6b6 !important;
            border-color: transparent;
          }
        }
      }
    }
  }
}
