.galleries_list {
  .figure-caption {
    font-size: 120%;
  }
}

.gallery-image {
  margin-top: 10px;
}

.gallery-link {
  margin-top: 30px;
  position: relative;
  display: block;

  max-width: 290px;
  max-height: 190px;

  @media #{$mobile_device} {
    margin: 30px auto;
  }

  @media #{$tablet_device} {
    max-width: 210px;
    max-height: 140px;
  }

  &:hover {
    color: #1ec6b6;

    .single-gallery-name {
      background: rgba(245, 245, 245, 1);
    }
  }
}

.single-gallery-image {
  position: relative;
  max-width: 290px;
  max-height: 190px;

  @media #{$tablet_device} {
    max-width: 210px;
    max-height: 140px;
  }
}

.single-gallery-name {
  position: absolute;
  background: rgba(245, 245, 245, 0.8);
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 10px 20px;
  text-align: center;
  font-size: x-large;
}

.single-gallery-image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: whitesmoke;
  border: 1px solid #ccc;
  opacity: 0.8;
}

.masonry {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-column > div {
  background: grey;
  margin-bottom: 30px;
}
