.news_area {
  padding-top: 40px;
  padding-bottom: 120px;
  @media #{$mobile_device} {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .single_news {
    margin-bottom: 50px;

    a {
      &:hover {
        color: #1ec6b6;
      }
    }

    .content {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .boxed-btn4 {
    background: #ff4a52;
    color: #fff;
    display: inline-block;
    padding: 13px 39px;
    font-family: $font1;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    @include border-radius(5px);
    text-align: center;
    text-transform: capitalize;
    @include transition(0.3s);
    cursor: pointer;
    &:hover {
      background: #1ec6b6;
      color: #fff !important;
    }
    &:focus {
      outline: none;
    }
    &.large-width {
      width: 220px;
    }
  }
}
