.page_content {
  padding-top: 50px;
  padding-bottom: 115px;
  @media #{$mobile_device} {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  @media #{$tablet_device} {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  .page_heading {
    h1 {
      font-size: 38px;
      font-weight: 400;
      color: #040e27;
      margin-bottom: 60px;
      @media #{$mobile_device} {
        margin-bottom: 30px;
      }
    }
  }
  p {
    margin-bottom: 10px;

    img {
      float: right;
      padding-top: 20px;
      padding-left: 20px;
    }
  }
  ul {
    padding-left: 20px;
    margin-bottom: 20px;

    li {
      position: relative;
      padding-left: 30px;
      line-height: 1.82em !important;
      &:before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        border: 3px solid #1ec6b6;
        background: $white;
        top: 4px;
        left: 0;
        border-radius: 50%;
      }
    }
  }

  .with-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0 5px 0;
    img {
      float: none;
      max-width: 32%;
      padding-top: 0;
      padding-left: 10px;
      padding-bottom: 15px;
    }
  }
}

.rbc-calendar {
  min-height: inherit;
}

.rbc-toolbar {
  justify-content: flex-start;
}
