.slider_area {
  position: relative;
  z-index: 0;
  .owl-carousel .owl-nav div {
    height: 120px;
    left: 0px;
    width: 50px;
    color: #fff;
    background-color: transparent;
    @include border-radius(0);
    left: 50px;
    font-size: 14px;
    border: none;
    left: 150px;
    line-height: 120px;
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    border: none !important;
    &.owl-next {
      right: 0;
      left: auto;
    }
    &:hover {
      background: rgba(255, 255, 255, 255);
      color: #001d38;
      border: none;
    }
  }
}
