body {
  min-height: 100%;
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#maintenance_app {
  padding: 5% 20px 20px;
}

#maintenance_app * {
  font-family: 'Dancing Script', cursive !important;
  color: white !important;
}

#maintenance_app a {
  text-decoration: none;
}

#maintenance_content {
  height: 100%;
  font-size: 15pt;
  position: relative;
  top: 80px;
  padding: 20px;
  background-color: rgba(75, 21, 21, 0.7);
  max-width: 900px;
  margin: auto;
  line-height: 2.5em;
  text-align: center;
}
